.conteneur {
    display: flex;
}
.flex {
    flex-grow: 1;
    border: ridge #2E3F58;
    color: #2E3F58;
    line-height : 2.5;
    font-size: 20px;
    margin: 10px;
}
.test{
    list-style: none;
    margin-left: 15px;
}
h4{
    text-align : center;
}