body {
    margin: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
    background-color: #f9f7f7;
}

.style {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: font-size 0.2s ease-in-out;
}
  
.style:hover {
    font-size: 24px;
    border: 2px solid #a7976a;
    border-radius: 5px;
    padding: 4px 8px;
}

.lien {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
  
.lien:hover {
    background-color: #a7976a;   
    font-size: 24px; 
}

/* Permet d'aligné l'image avec panier */
.test svg {
    vertical-align: middle;
    margin-right: 10px;
}

/*Changement de la font du texte */

h1,h2,h3,h4,h5 {
    font-family: Arial, sans-serif;
}

/* Header And Footer*/

header{
    width:100%;
    height: 85px;
}

footer{
    width:100%;
    margin: 0;
    padding: 0;
}

.header-nav{
    padding: 0;
    height: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.header-nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}


.footerContent ul{
    list-style: none;
}

.header-nav li{
    display: flex;
    justify-content: center; 
    align-items: center;   
    height:55px;
    text-align: center;
    margin-top : 15px;
}

.footerContent th, .footerContent td{
	text-align: left;
	font-size: medium;
	width: 25%;
	padding: 5px;
	vertical-align:top;
    font-size: small;
}

.footerContent ul{
    margin: 0;
    padding: 0;
}

/* Index */

.box{
    width : 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.article{
    background-color: lightgray;
    border-radius: 15px;
    border: 2px solid #a7976a;
}

.gauche{
    width: 30%;
    border: 2px solid #a7976a;
    border-radius: 15px;
}

.global{
    width: 100%;
    display: flex;
    
}

/* Barre de recherche */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
  
.search-form {
    display: flex;
    align-items: center;
    position: relative;
}
  
.search-form input[type="text"] {
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 30px;
    width: 300px;
    background-color: #C0C0C0;
    transition: all 0.3s ease-in-out;
}
  
.search-form button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.search-form button[type="submit"]:hover {
    color: #555;
}
  
.search-form input[type="text"]:focus {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}
  
.search-form input[type="text"]::placeholder {
    color: #555;
}


  