body {
    margin: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
    background-color: #f9f7f7;
}

.style {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.2s ease-in-out;
}
  
.style:hover {
    font-size: 24px;
    border: 2px solid #a7976a;
    border-radius: 5px;
    padding: 30px 60px;
}

.lien {
    padding: 10px;
    color: #2E3F58;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
  
.lien:hover {
    background-color: #a7976a;   
    font-size: 20px; 
    color: #2E3F58;
}

/* Permet d'aligné l'image avec panier */
.test svg {
    vertical-align: middle;
    margin-right: 10px;
}

/*Changement de la font du texte */

h1,h2,h3,h4,h5 {
    font-family: Arial, sans-serif;
}

/* Header And Footer*/

header{
    width:100%;
    height: 85px;
}


.header-nav{
    padding: 0;
    height: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.header-nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.header-nav li{
    display: flex;
    justify-content: center; 
    align-items: center;   
    height:55px;
    text-align: center;
    margin-top : 15px;
}



/* Index */

.box{
    width : 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #a7976a;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 200px;
  }
  
  .article:hover {
    background-color: #a7976a;
    color: #fff;
    border-color: #2E3F58;
  }

.gauche{
    width: 30%;
    border: 2px solid #a7976a;
    border-radius: 4px;
}

.global{
    width: 100%;
    display: flex;
    
}

/* Barre de recherche */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
  
.search-form {
    display: flex;
    align-items: center;
    position: relative;
}
  
.search-form input[type="text"] {
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 30px;
    width: 300px;
    background-color: #C0C0C0;
    transition: all 0.3s ease-in-out;
}
  
.search-form button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.search-form button[type="submit"]:hover {
    color: #555;
}
  
.search-form input[type="text"]:focus {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}
  
.search-form input[type="text"]::placeholder {
    color: #555;
}


/* footer ------------------------------------------------ */


.color { 
    color:#2E3F58;
}

footer { 
    width:100%; 
    background-color:#f9f7f7; 
    min-height:250px; 
    padding:10px 0px 25px 0px ;
}

.pt2 { 
    padding-top:40px ; 
    margin-bottom:20px ;
}

footer p { 
    font-size:13px; 
    color:#2E3F58; 
    padding-bottom:0px; 
    margin-bottom:8px;
}

.name { 
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}

.name li {
    padding:0px 0px 5px 0px;
    color:#2E3F58;
}

.fleft { 
    float:left;
}
.padding-right { 
    padding-right:10px; 
}

.bottom_border { 
    border-bottom:1px solid #2E3F58; 
    padding-bottom:20px;
    width: 50%;
}

.button_link {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.button_link li { 
    display:inline;
}

.button_link li a { 
    color:#2E3F58; 
    margin:0 12px;
}

.logo { 
    display:table; 
    list-style-type:none;  
    margin: 0 auto;
}

.logo li { 
    padding-left:20px; 
    padding-top:10px; 
    float:left; 
}

.logo li a { 
    color:#2E3F58; 
    border:1px solid #2E3F58; 
    padding:8px;
    border-radius:50%;
}

.logo li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}

.p1 {
    display:flex;
    align-items: stretch;
    justify-content: center;
}

.c1{
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.line {
    border-top: 1px solid black;
    width: 50%;
    margin: 0 auto;
  }
  
/* profil.php */
/* Style pour le pop-up */
.modal {
    display: none; /* Masquer initialement le pop-up */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999; /* Z-index élevé pour être au-dessus du contenu */
}

/* Style pour le contenu du pop-up */
.modal-contenu {
    width: 300px;
    margin: 100px auto; /* Centrer verticalement et horizontalement */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
/* Style pour le bouton "Supprimer mon compte" */
.bouton-golden {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a7976a;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px; /* Ajouter de l'espace en bas */
}